<!DOCTYPE html>
<html lang="en" class="bg-base-200">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Trellix" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body>
    <div class="alert alert-error rounded-none">
      <p class="text-lg">
        <span class="font-bold">
          Stop!
        </span>
        <span class="">
          This application is still in develment and is not ready for roasting. If your name is
          <span class="font-bold">
            Ryan Florence
          </span>
          come back later.
        </span>
      </p>
    </div>
    <%= @inner_content %>
  </body>
</html>
